<pageStateIconsConfigurationSection xmlns="UmBristol.PageStateIcons">
	<rules>
		<add name="umbracoNaviHide"
			 description="Adds overlay to show the page is hidden from navigation."
			 xPath="umbracoNaviHide = '1'"
			 iconType="overlay"
			 iconPath="/umbraco/plugins/PageStateIcons/umbracoNaviHide.png"
			 left="11"
			 top="7" />

		<add name="umbracoRedirect"
			 description="Adds an overlay to show the page is a redirect page."
			 xPath="self::*[@isDoc and normalize-space(umbracoRedirect)]"
			 iconType="overlay"
			 iconPath="/umbraco/plugins/PageStateIcons/umbracoRedirect.png"
			 left="22"
			 top="0" />

		<add name="umbracoInternalRedirectId"
			 description="Adds an overlay to show the page is a redirect page."
			 xPath="self::*[@isDoc and normalize-space(umbracoInternalRedirectId) and not(normalize-space(umbracoRedirect))]"
			 iconType="overlay"
			 iconPath="/umbraco/plugins/PageStateIcons/umbracoInternalRedirectId.png"
			 left="22"
			 top="0" />
	</rules>
</pageStateIconsConfigurationSection>