<?xml version="1.0" encoding="utf-8" ?>

<!-- Contains the rules for applying icon overlays to nodes in the back office -->

<pageStateIconsConfigurationSection xmlns="UmBristol.PageStateIcons">
  <rules>
    <add name="umbracoNaviHide"
         description="Adds overlay to show the page is hidden from navigation."
		 xPath="umbracoNaviHide = '1'"
         overlayIconPath="/Umbraco/Plugins/PageStateIcons/UmbracoNaviHide.png"
         left="11"
         top="7" />

    <add name="umbracoRedirect"
         description="Adds an overlay to show the page is a redirect page."
         xPath="self::*[@isDoc and normalize-space(umbracoRedirect)]"
         overlayIconPath="/Umbraco/Plugins/PageStateIcons/UmbracoRedirect.png"
         left="22"
         top="0" />

	  <add name="umbracoInternalRedirectId"
         description="Adds an overlay to show the page is a redirect page."
         xPath="self::*[@isDoc and normalize-space(umbracoInternalRedirectId) and not(normalize-space(umbracoRedirect))]"
         overlayIconPath="/Umbraco/Plugins/PageStateIcons/umbracoInternalRedirectId.png"
         left="22"
         top="0" />
  </rules>
</pageStateIconsConfigurationSection>