<?xml version="1.0" encoding="utf-8" ?>
<pageStateIconsConfigurationSection xmlns="UmBristol.PageStateIcons">
  <rules>
    <add name="umbracoNaviHide"
         description="Adds overlay to show the page is hidden from navigation."
         xPath="/xpath-here/"
         left="0"
         top="0"
         overlayIconPath="/Umbraco/Plugins/PageStateIcons/UmbracoNaviHide.png" />
    
    <add name="umbracoRedirect"
         description="Adds an overlay to show the page is a redirect page."
         xPath="/xpath-here/"
         overlayIconPath="/Umbraco/Plugins/PageStateIcons/UmbracoRedirect.png" />
  </rules>
</pageStateIconsConfigurationSection>