<?xml version="1.0" encoding="utf-8" ?>
<pageStateIconsConfigurationSection xmlns="UmBristol.PageStateIcons">
  <rules>
    <add name="umbracoHideNavi" 
         xPath="/xpath-to-determine-umbracoHideNaviHere" 
         cssClass="our-custom-css-class-if-we-have-one"
         iconPath="our-custom-icon-to-use-if-we-have-one" />
  </rules>
</pageStateIconsConfigurationSection>