<?xml version="1.0"?>
<configuration>
  <configSections>
    <section name="pageStateIconsConfigurationSection" type="UmBristol.PageStateIcons.Config.PageStateIconsConfigurationSection"/>
  </configSections>
  <pageStateIconsConfigurationSection configSource="config\PageStateIcons.config" />
  <system.web>
    <compilation debug="true" targetFramework="4.0"/>
    <pages controlRenderingCompatibilityVersion="3.5" clientIDMode="AutoID"/>
  </system.web>
</configuration>